* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #360b17;
  font-family: sans-serif;
}

/* Layout wrapper */
.screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
}

/* Orange container */
.container {
  background-color: #f48c25;
  display: flex;
  flex: 1 1 45%;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  min-height: 200px;
}


/* Red box styles */
.box {
  background-color: #7a0000;
  width: 80px;
  min-height: 80px;
  border-radius: 10px;
}

.box.wide {
 flex-grow: 1;
}

.box.small {
  width: 60px;
  height: 60px;
}

/* Vertical alignment utilities */
.align-top {
  align-self: flex-start;
} 

.align-center {
  align-self: center;
} 

.align-bottom {
  align-self: flex-end;
}

.container.box1 {
  justify-content: flex-start;
  align-items: flex-end;
}

.container.box2 {
  justify-content: center;
  align-items: stretch;
}

.box {
  /* Replace height with min-height for stretch to work */
   min-height: 80px;
} 

.box.tall {
  min-height: 135px;
  
}

.container.box3 {
  justify-content: flex-end;
  align-items: center;
}
.container.box5 {
  justify-content: space-around;
  align-items:baseline
}

.container.box4 {
  justify-content: space-between; 
  align-items: center;
}
.container.box6 {
  justify-content: center;
  align-items: flex-start;
  align-items: center;
}
/* Text box styling */
.box.text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}
